<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Butane - One Player Games</title>
    <link rel="stylesheet" href="/css/butane.css">

  </head>
  <body>
    <header>
        <P class = "logo" data-text = "BUTANE">BUTANE</P>
        <nav class="navbardefault">
            <ul class="navbarnav">
              <li id="home"><a href="/">HOME</a></li>
              <li id="game1"><a href="/DICEE">DICEE</a></li>
              <li id="game2"><a href="/GUESS_NUMBER">GUESS NUMBER</a></li>
              <li id="contact"><a href="/ABOUT">ABOUT</a></li>
            </ul>
        </nav>
    </header>
