<%-include("partials/header")-%>

<h3 class = "re">Made By : </h3>

<div class="abt">
  <p>Aditya Narayan Singh - pursuing B. Tech in electrical engineering from
                            NIT Jamshedpur.
  </p>
  <p>Harsh Sagar - pursuing B. Tech in electrical engineering from
                            NIT Jamshedpur.
  </p>

    <p>This is our project for electroHack at Pravardhan - conducted by Electrical Engineering Society</p>
    <p>Here you can one player games mady by using HTML, CSS and javaScript.</p>

</div>

<%-include("partials/footer")-%>
