<%-include("partials/header")-%>


<div class="container">
      <h1 class = "re">DICEE</h1>
      <h1 id = "change" class = "re">Start</h1>
      <div class="dice1">
        <p>Dice 1</p>
        <img id = "i1" class="img1" src="/images/DICEE/1.png">
      </div>

      <div class = "dice2">
        <p>Dice 2</p>
        <img id = "i2" class="img2" src="/images/DICEE/2.png">
      </div>

    </div>
    <div class="clr"></div>
    <button id = "btn1" class = "button" type="submit">Left</button>
    <button id = "btn2" class = "button" type="submit">Right</button>
    <script type = "text/javascript" src = "DICEE.js"></script>


<%-include("partials/footer")-%>
