<%-include("partials/header.ejs")-%>


<div class = "HS">
    <p>Last Score</p>
    <ul>
      <li id = "dicescore">DICEE --                                    0</li>
      <li>GUESS NUMBER --                             <%= Guessnum %></li>
    </ul>
</div>


<%-include("partials/footer.ejs")-%>
